<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873527512866-ahv6h2omai4qkqe5q4mimdbugbrhft47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873527512866-ahv6h2omai4qkqe5q4mimdbugbrhft47</string>
	<key>API_KEY</key>
	<string>AIzaSyB8HR4bowhanbGEENoq41huLpb99uY3TVE</string>
	<key>GCM_SENDER_ID</key>
	<string>873527512866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stefandojcinovic.LifeSocialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>lifesocialmediaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>lifesocialmediaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873527512866:ios:bd01df7896ce6802c01f7b</string>
</dict>
</plist>